### Create headings, and add text in bold and italics in Markdown

Let us explore basic markdown elements such as: 
* Headings
* Bold Text
* ItalicText

# Execute it as a markdown cell
# H1: This is a level 1 Heading
## H2: This is a level 2 Heading
### H3: This is a level 3 Heading
#### H4: This is a level 4 Heading
##### H5: This is a level 5 Heading
###### H6: This is a level 6 Heading

# Execute it as a markdown cell
*Text in italics using asterisk.*  
_Text in italics using underscore._

### Images

Images can be rendered in the following format.
     
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Labs_V4/images/image.png">

Convert the cell below to markdown cell and execute it.

# Execute it as a markdown cell
LOGO: ![This is the skills network logo](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png)

| Country Name | Capital |
| -------------| ------ |
| United States | Washington DC |
| Australia | Canberra |
| India | New Delhi |

- First item using dashes
- Second item using dashes
- Third item using dashes
- Fourth item using dashes

* First item using asterisks
* Second item using asterisks
* Third item using asterisks
* Fourth item using asterisks

+ First item using plus
+ Second item using plus
+ Third item using plus
+ Fourth item using plus

1. First item
2. Second item
3. Third item
4. Fourth item