### Tuples

In [3]:
tuple1 = ("disco",10,1.2)
tuple1

('disco', 10, 1.2)

In [4]:
type(tuple1)

tuple

In [6]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))
print(tuple1[-1], tuple1[-2], tuple1[-3])

<class 'str'>
<class 'int'>
<class 'float'>
1.2 10 disco

### Concatenate tuples

In [7]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [8]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [9]:
# Get the length of tuple

len(tuple2)

5

In [10]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [12]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [13]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [14]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'